#contacttseries iframe
{
    width: 100%;
}
.contacttseries h3
{
    display: inline;
}
.contact_1 a
{
    text-shadow: none;
}
 
input
{
    background: grey
}
h4 {text-align-last: center
}
p2 {background-color: aqua}
h2{background-color: chocolate;
text-align: center;
text-decoration-color: burlywood;
text-decoration-style: wavy;}
h8{text-align: center;
font-family: monospace;
font-size: 36px;
background-color: aqua;
color: blue;
}
img{height: 30px;
width: 50px;}
.movie_head{font-size: 2opx;
padding: 6px 22px;
border-radius: 10px;
margin-bottom: 15px;
width: 100%;
display: inline-block;
}
.movie_head i {float: right;
}
.movie_text span {color:cyan;}
.modal-content { margin-top: 100px; } .img_modal { display: inline-block; } .p_modal { margin-top: 10px; } .modal-body { text-align: center }








































































































